{% extends 'base.html.twig' %}

{% block title %}Voir l'événement{% endblock %}

{% block body %}
    <h1>Voir l'événement</h1>

    <main role="main">

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <img class="img_size" src="/build/upload/{{ event.picture }}" alt="{{ event.title }}l">
                    </div>
                    <div class="col-md-8">
                        <h1>{{ event.getTitle }}</h1>
                        <span class="badge badge-pill badge-info" data-toggle="tooltip" data-placement="top"
                              title="Ville">
                        <i class="fa fa-map-pin"></i>
                        {{ event.city }}
                    </span>
                        <span class="badge badge-pill badge-info" data-toggle="tooltip" data-placement="top"
                              title="Dates">
                        <i class="fa fa-calendar"></i>
                        {{ event.dateStart | date ('d') }}-{{ event.dateEnd |date ('d/F/Y' ) }}
                    </span>
                        <span class="badge badge-pill badge-info" data-toggle="tooltip" data-placement="top"
                              title="Participants">
                        <i class="fa fa-users"></i>
                        {{ event.participants.count }}
                    </span>
                        <a href="{{ event.url }}" class="badge badge-pill badge-primary" data-toggle="tooltip"
                           data-placement="top" title="Site internet">
                            <i class="fa fa-globe"></i>
                            Site internet
                        </a>
                        <span class="badge badge-pill badge-warning" data-toggle="tooltip" data-placement="top"
                              title="Prix">
                        <i class="fa fa-euro"></i>
                        {{ event.price }}
                    </span>
                        {% for langage in event.langages %}
                            <span class="badge badge-pill badge-primary" data-toggle="tooltip" data-placement="top"
                                  title="Language">
                            <i class="fa fa-globe"></i>
                            {{ langage.name }}
                    </span>

                        {% endfor %}
                        <p>{{ event.description }}</p>
                        {% if participants %}
                            <a href="{{ path('event_add_participant', {'slug': event.slug}) }}"
                               class="btn btn-warning btn-lg">J'y vais plus!</a>
                        {% else %}
                            {% if app.user  %}
                                <a href="{{ path('event_add_participant', {'slug': event.slug}) }}"
                                   class="btn btn-primary btn-lg">J'y vais !</a>
                            {% endif %}

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
