{% extends 'base.html.twig' %}

{% block title %}Mon compte utilisateur{% endblock %}

{% block body %}

    <h1>Mon compte</h1>
    <hr>
    <ul>
        <li>Pseudo : {{ user.username }}</li>
        <li>Email : {{ user.email }}</li>
    </ul>
    <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary">Modifier</a>
    <div id="events" class="album py-5">
        <h2>Mes événements</h2>
        <div class="row">
            {% for event in user.events %}
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="/build/upload/{{ event.picture }}" alt="{{ event.title }}">
                    <div class="card-body">
                        <h3 class="card-text">{{ event.getTitle }}</h3>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ path('event_show',{'slug': event.slug}) }}" class="btn btn-sm btn-outline-secondary">Voir</a>
                                <a href="{{ path('event_edit',{'slug': event.slug}) }}" class="btn btn-sm btn-outline-secondary">Modifier</a>
                            </div>
                            <small class="text-muted">{{ event.city }} - {{ event.dateStart | date ('d') }} | {{ event.dateEnd |date ('d-m-Y' ) }}</small>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
